:root {
  --padding: 25px;
  --font-size-large: 36px;
  --font-size-medium: 16px;
  --font-size-small: 12px;

  --color-border: rgb(212, 212, 212);
  --color_background: rgb(250, 250, 250);
}

* {
  margin: 0;
}

body span {
  display: block;
}

input:focus {
  outline: none;
}

/*
Nav
*/
.cont_nav {
  height: 54px;
  position: sticky;
  top: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.cont_nav .cont_title {
  max-width: 180px;
  font-size: 25px;
  font-family: "Courgette";
  font-weight: 900;
  margin-left: 20px;
}

.cont_nav .cont_searchbar {
  height: 28px;
  width: 215px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background-color: var(--color_background);
}
.cont_nav .cont_searchbar::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: 500;
  overflow: visible;
  vertical-align: top;
  text-align: center;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  font-size: var(--font-size-small);
  color: rgb(173, 173, 173);
}

.cont_nav .cont_searchbar:focus::-webkit-input-placeholder {
  text-align: left;
}
.cont_nav .cont_links {
  font-size: 25px;
  max-width: 222px;
}
.cont_nav .cont_links i {
  margin: 0 5px;
}

/*
contents
*/
.cont_wrap {
  height: 100vh;
  background-color: var(--color_background);

  padding: 30px 0;

  display: flex;
  justify-content: center;
}

.cont_wrap .cont_Leftside {
  width: 600px;
}

.cont_wrap .Leftside_followers {
  height: 84px;
  background-color: white;
  padding: 16px 0;
  border: 1px solid rgb(230, 230, 230);
}
.cont_wrap .Leftside_followers .list_followers {
  list-style: none;
  display: flex;
  padding: 3px;
  margin: 0 5px;
}
.list_followers li {
  margin: 0 10px;
}
.followerPortrait {
  display: flex;
  justify-content: center;
}
.cont_wrap .Leftside_followers .list_followers li .followerPortrait img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.cont_wrap .Leftside_album {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  margin: 14px 0;
  border-radius: 5px;
}

.cont_wrap .Leftside_album .authorInfo {
  height: 26px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorInfo .author {
  display: flex;
  align-items: center;
}

.authorInfo .author .followerPortrait img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgb(230, 230, 230);
}

.authorInfo .author .followerID {
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  color: rgb(75, 75, 75);
}

.authorInfo .author .interactionButton i {
  font-size: 10px;
  color: rgb(75, 75, 75);
}

.cont_wrap .Leftside_album .imageSlide img {
  max-width: 620px;
  height: calc(width * 1.5px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont_wrap .Leftside_album .reactionBar {
  margin: 4px 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.cont_wrap .Leftside_album .reactionBar .reactionButtons {
  display: flex;
}
.cont_wrap .Leftside_album .reactionBar .reactionButtons i {
  padding: 8px;
  margin: 0 2px;
}

.cont_wrap .Leftside_album .box_comment {
  padding: 0 16px;
  font-size: 14px;
}

.cont_wrap .Leftside_album .count_view {
  font-family: "Rubik";
  font-weight: 800;
  font-size: 14px;
}
.cont_wrap .Leftside_album .count_like {
  margin: 5px 0;
  display: flex;
}
.cont_wrap .Leftside_album .count_like .LikedfollowerPortrait img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 0 4px;
}
.LikedfollowerID,
.count_like_number,
.autorID,
.followerID {
  font-weight: 900;
}

.albumInfo .followerCommentbox {
  margin-top: 5px;
}

.albumInfo .followerCommentbox .followerComment {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box_comment .viewAllcomments {
  margin-top: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: gray;
}
.box_comment .uploadtime {
  margin-top: 5px;
  font-size: 11px;
  font-weight: 500;
  color: gray;
}
.addComment {
  margin-top: 10px;
  height: 56px;
  padding: 0 16px;
  border: 1px solid rgb(230, 230, 230);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addComment .emoticon {
  font-size: 23px;
}
.addComment .mytextarea input {
  margin-top: 5px;
  border: 0;
  width: 494px;
}

.addComment .commentPost {
  text-decoration: none;
  color: dodgerblue;
  font-weight: 600;
  font-size: 14px;
}

.cont_wrap .cont_Rightside,
footer {
  width: 300px;
  max-width: 320px;
  margin-left: 25px;
  margin-top: 20px;
}
.cont_wrap .cont_Rightside .my_accountbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont_wrap .cont_Rightside .my_accountbox .my_portrait {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 1px solid rgb(230, 230, 230);
}
.cont_wrap .cont_Rightside .my_accountbox .account {
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.my_accountbox .account .my_accountID {
  font-size: 14px;
  font-weight: 800;
}
.my_accountbox .account .name {
  font-size: 14px;
  color: rgb(150, 150, 150);
}
.my_accountbox .switch {
  font-size: 12px;
  font-weight: 900;
  color: dodgerblue;
}

.cont_wrap .cont_Rightside .suggestions_box {
  margin-top: 20px;
}

.cont_wrap .cont_Rightside .suggestions_box .suggestionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestions_box .suggestionTitle .text {
  font-size: 14px;
  font-weight: 600;
  color: rgb(150, 150, 150);
}
.suggestions_box .suggestionTitle .bt_seeall {
  font-size: 12px;
}

.suggestionLists_box .suggestionList {
  list-style: none;
  padding: 10px 0;
}

.suggestionLists_box .suggestionList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.suggestionLists_box .suggestionList li .sug_portrait {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid rgb(255, 59, 102);
  padding: 2px;
}

.suggestionLists_box .suggestionList li .sug_info_box {
  padding: 0 5px;
  width: 201px;
}
.suggestionLists_box .suggestionList li .sug_info_box .sug_id {
  font-size: 13px;
  font-weight: 600;
}
.suggestionLists_box .suggestionList li .sug_info_box .sug_info {
  font-size: 12px;
  color: rgb(150, 150, 150);
}

.suggestionLists_box .suggestionList li .link_follow {
  font-size: 12px;
  font-weight: 900;
  color: dodgerblue;
  text-decoration: none;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  margin: 0;
}
.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.links li a {
  font-size: 12px;
  text-decoration: none;
  color: rgb(150, 150, 150);
  margin-left: 10px;
}
footer .footers {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
  color: gray;
}
footer .footers select {
  width: 70px;
  font-size: 12px;
  border: 0;
  color: gray;
  display: none;
}
footer .footers .copyright {
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .cont_nav .cont_searchbar {
    display: none;
  }
  body {
    width: 100%;
  }
  .cont_nav {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .cont_nav .cont_title {
    max-width: 160px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
  }
  .cont_nav .cont_links {
    width: 198px;
  }
  .cont_nav .cont_links i {
    margin: 0 2px;
  }
}
@media screen and (max-width: 999px) {
  .cont_Rightside {
    display: none;
  }
  .cont_wrap .cont_Leftside {
    width: 100%;
  }
}
